<div class="popup-outer" ng-if="openPopup">
	<div class="message-box absolute-center bg-info">
	

		<div class="invalid status" ng-if="confirmStatus === 1">
			<h1>Incomplete form</h1>
			<button class="btn btn-danger" ng-click="close()">Close</button>
		</div>
		
		
		<div class="confirm status" ng-if="confirmStatus === 2">
			<h1>Select 'yes' to continue</h1>
			<button class="btn btn-success" ng-click="confirm()">Yes</button>
			<button class="btn btn-danger" ng-click="close()">No</button>
		</div>


		<div class="status progressStatus" ng-if="confirmStatus === 3">
			<h1>Submitting request...</h1>

			<div class="progress">
			  <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="{{uploadProgress}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width : uploadProgress +'%'}">
			    <span class="sr-only">{{uploadProgress}}% Complete</span>
			  </div>
			</div>

		</div>	


		<h1 class="success status" ng-if="confirmStatus === 4">
			Form submitted! <i class="glyphicon glyphicon-ok"></i>
			<button class="btn btn-danger" ng-click="refresh()">Close</button>
		</h1>


		<h1 class="failed status" ng-if="confirmStatus === 5">
			Error! Please try again <i class="glyphicon glyphicon-ok"></i>
			<p>{{errorMessage}}</p>
			<button class="btn btn-danger" ng-click="close()">Close</button>
		</h1>

	</div>
</div>



<form name="request_form" class="request-form" ng-submit="submit()" novalidate enctype="multipart/form-data">

	<div class="form-section">
		<h1 class="title main-title">Creative Work Request</h1>
	</div>
	
	<div class="row">

		<div class="col-md-9 form-horizontal">
					
			<%- include job-information %>
		
			<% include task %>
			
			<% include delivery %>
			
			<% include instructions %>

			<% include attachments %>

			<input type="submit" class="btn btn-block submit-btn" value="SUBMIT">

		</div>

		<div class="col-md-3 hidden-xs hidden-sm">
			<nav class="sidebar" data-spy="affix" data-offset-top="210">
				<ul class="nav">
					<li>
						<a href="#formSection1" class="title">Job Information</a>
						<ul class="nav">
							<li>
								<a href="#formJobCode">Job Code</a>
							</li>
							<li>
								<a href="#formProjectInfo">Project Info</a>
							</li>
							<li>
								<a href="#formBudgetStatus">Project Status</a>
							</li>
							<li>
								<a href="#formTypeOfProject">Type of Project</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#formSection2" class="title">Task</a>
						<ul class="nav">
							<li>
								<a href="#taskDescTitle">Task Description</a>
							</li>
							<li>
								<a href="#hoursForTaskTitle">Hours for this Task</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#formSection4" class="title">Delivery</a>
						<ul class="nav">
							<li>
								<a href="#deliveryDateTitle">Delivery Date</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#formSection3" class="title">Instructions</a>
						<ul class="nav">
							<li>
								<a href="#typeOfBriefTitle">Type of brief</a>
							</li>
							<li>
								<a href="#typeOfWorkTitle">Type of Work</a>
							</li>
							<li>
								<a href="#whereUsedTitle">Where will it be used?</a>
							</li>
							<li>
								<a href="#brandingTitle">Branding</a>
							</li>
							<li>
								<a href="#deliveryFormatTitle">Delivery Format</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#formSection5" class="title">Attachments</a>
						<ul class="nav">
							<li>
								<a href="#referenceMaterialsTitle">Reference Materials</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>

</form>

