<div class="popup-outer" ng-if="openPopup">
	<div class="message-box absolute-center bg-info">
	

		<div class="invalid status" ng-if="confirmStatus === 1">
			<h1>Incomplete form</h1>
			<button class="btn btn-danger" ng-click="close()">Close</button>
		</div>
		
		
		<div class="confirm status" ng-if="confirmStatus === 2">
			<h1>Select 'yes' to continue</h1>
			<button class="btn btn-success" ng-click="confirm()">Yes</button>
			<button class="btn btn-danger" ng-click="close()">No</button>
		</div>

		<div class="status progressStatus" ng-if="confirmStatus === 3">
			<h1>Submitting request...</h1>

			<div class="progress">
			  <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="{{uploadProgress}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width : uploadProgress +'%'}">
			    <span class="sr-only">{{uploadProgress}}% Complete</span>
			  </div>
			</div>

		</div>

		

		<h1 class="success status" ng-if="confirmStatus === 4">
			Form submitted! <i class="glyphicon glyphicon-ok"></i>
			<button class="btn btn-danger" ng-click="refresh()">Close</button>
		</h1>

		<h1 class="failed status" ng-if="confirmStatus === 5">
			Error! Please try again <i class="glyphicon glyphicon-ok"></i>
			<p>{{errorMessage}}</p>
			<button class="btn btn-danger" ng-click="close()">Close</button>
		</h1>

	</div>
</div>



<form name="request_form" class="request-form" ng-submit="submit()" novalidate enctype="multipart/form-data">

	<div class="form-section">
		<h1 class="title main-title">Creative Work Request</h1>
	</div>
	
	<div class="row">

		<div class="col-md-9 form-horizontal">
			
			<div class="form-section">

				<h2 class="title section-title" id="formSection1">
					<span class="title-icon title1-icon"></span>
					Job Information
				</h2>

				<div class="form-group">
					<label for="job-code" class="col-sm-2 control-label" id="formJobCode">Job Code</label>
					<div class="col-sm-4">
						<input type="text" 
						class="form-control" 
						id="job-code"
						name="job_code"
						ng-model="form.jobCode" 
						placeholder=""
						required 
						ng-class="{'invalid' : request_form.job_code.$invalid}"
						>
					</div>

					<label for="new-job" class="radio-inline">
						<div class="radio-icon" ng-class="{'active' : request_form.job_type.$valid}">
							<div class="checked-radio-icon" ng-class="{'active': form.jobType == 'New Job'}"></div>
						</div>
						<input 
						type="radio"
						id="new-job" 
						name="job_type"
						ng-model="form.jobType" 
						value="New Job"
						ng-required="!(form.jobType === 'Existing Job')"> New Job
					</label>

					<label for="existing-job" class="radio-inline">
						<div class="radio-icon" ng-class="{'active' : request_form.job_type.$valid}">
							<div class="checked-radio-icon" ng-class="{'active': form.jobType == 'Existing Job'}"></div>
						</div>
						<input 
						type="radio" 
						id="existing-job" 
						name="job_type"
						ng-model="form.jobType"
						value="Existing Job"
						ng-required="!(form.jobType === 'New Job')"> Previously Submitted Job
					</label>
				</div>

				<hr>

				<h3 class="title sub-title" id="formProjectInfo">Project Info</h3>

				<div class="form-group" ng-show="form.jobType === 'New Job'">
					
					<div class="col-md-6">
						<label for="client">Client</label>
	    				<input 
	    				type="text" 
	    				class="form-control" 
	    				id="client"
	    				name="client"
	    				ng-model="form.client"
	    				placeholder="e.g Bayer">
					</div>

					<div class="col-md-6">
						<label for="product">Product</label>
	    				<input 
	    				type="text" 
	    				class="form-control" 
	    				id="product"
	    				name="product"
	    				ng-model="form.product" 
	    				placeholder="e.g Xarelto">
					</div>

				</div>

				<div class="form-group" ng-show="form.jobType === 'New Job'">

					<div class="col-md-12">
						<label for="project-title">Project Title</label>
	    				<input 
	    				type="text" 
	    				class="form-control" 
	    				id="project-title"
	    				name="project_title"
	    				ng-model="form.projectTitle" 
	    				placeholder="e.g Xarelto Brand Plan Presentation">
					</div>
					
				</div>

				<div class="form-group" ng-show="form.jobType === 'New Job'">

					<div class="col-md-12">
						<label for="account-person-fname">Account Lead</label>
					</div>
					
					<div class="col-md-12">
	    				<input 
	    				type="text" 
	    				class="form-control" 
	    				id="account-person-fname"
	    				name="account_person_fname"
	    				ng-model="form.accountPersonFname" 
	    				placeholder="Full Name"
	    				ng-required="form.jobType === 'New Job'"
	    				ng-class="{'invalid' : request_form.account_person_fname.$invalid}"
	    				>
					</div>

				</div>

				<div class="form-group">

					<div class="col-md-6">
						<label for="form-user">Person submitting this request (if not Account Lead)</label>
	    				<input 
	    				type="text" 
	    				class="form-control" 
	    				id="form-user"
	    				name="form_user"
	    				ng-model="form.formUser" 
	    				placeholder="Full Name"
	    				>
					</div>

					<div class="col-md-3">
						<label for="office">Office</label>
	    				<select 
	    				class="form-control" 
	    				id="office"
	    				name="office"
	    				ng-model="form.office" 
	    				ng-class="{'invalid' : request_form.office.$invalid}"
	    				required
	    				>
							<option value="London">London</option>
							<option value="Manchester">Manchester</option>
							<option value="US">US</option>
							<option value="Global">Global</option>
	    				</select>
					</div>

					<div class="col-md-3">
						<label for="email">Email (to receive copy)</label>
	    				<input 
	    				type="email" 
	    				class="form-control" 
	    				id="email"
	    				name="email"
	    				ng-model="form.email" 
	    				placeholder="Email Address"
	    				required
	    				>
					</div>

				</div>
				

				<div ng-show="form.jobType === 'New Job'">
				<div class="form-group">

					<div class="col-md-12">
						<label for="general-desc">General Project Description</label>
	    				<textarea 
	    				rows="5" 
	    				class="form-control" 
	    				id="general-desc"
	    				name="general_desc"
	    				ng-model="form.generalDesc"  
	    				placeholder="e.g Xarelto Brand Plan Presentation"></textarea>
					</div>
					
				</div>

				<hr>

				<h3 class="title sub-title" id="formBudgetStatus">Project Status</h3>

			  	<div class="form-group">
			  		<div class="col-md-12">

			  			<label class="radio-inline">
			  				<div class="radio-icon" ng-class="{'active' : request_form.budget.$valid}">
								<div class="checked-radio-icon" ng-class="{'active': form.budget == 'Budget in Paprika'}"></div>
							</div>
							<input 
							type="radio" 
							id="bud-pap"
		    				name="budget"
		    				ng-model="form.budget" 
							value="Budget in Paprika"> Budget in Paprika
						</label>

				  		<label class="radio-inline">
				  			<div class="radio-icon" ng-class="{'active' : request_form.budget.$valid}">
								<div class="checked-radio-icon" ng-class="{'active': form.budget == 'New Business or Internal'}"></div>
							</div>
							<input 
							type="radio" 
							id="new-bus-int"
		    				name="budget"
		    				ng-model="form.budget" 
							value="New Business or Internal"> New Business or Internal
						</label>

						<label class="radio-inline">
							<div class="radio-icon" ng-class="{'active' : request_form.budget.$valid}">
								<div class="checked-radio-icon" ng-class="{'active': form.budget == 'Need an estimate'}"></div>
							</div>
							<input 
							type="radio" 
							id="need-est"
		    				name="budget"
		    				ng-model="form.budget" 
							value="Need an estimate"> Need an Estimate
						</label>

			  		</div>
			  	</div>
			  	
			  	</div>

			  	<hr>

			  	<h3 class="title sub-title" id="formTypeOfProject">Type Of Project</h3>

			  	<div class="form-group">
			  		<div class="col-md-12">

			  			<label class="checkbox-inline">
			  				<div class="checkbox-icon" ng-class="{'active' : request_form.des_proj.$valid}">
								<div class="checked-checkbox-icon" ng-class="{'active': form.desProj}"></div>
							</div>
							<input 
							type="checkbox" 
							id="des-proj"
		    				name="des_proj"
		    				ng-model="form.desProj" 
							ng-true-value="'Design Project'"
							ng-required="!(form.typeProj || form.digProj)"
							> Design Project
						</label>

				  		<label class="checkbox-inline">
				  			<div class="checkbox-icon" ng-class="{'active' : request_form.type_proj.$valid}">
								<div class="checked-checkbox-icon" ng-class="{'active': form.typeProj}"></div>
							</div>
							<input 
							type="checkbox" 
							id="type-proj"
		    				name="type_proj"
		    				ng-model="form.typeProj"  
							ng-true-value="'Typesetting Project'"
							ng-required="!(form.desProj || form.digProj)"
							> Typesetting Project
						</label>

						<label class="checkbox-inline">
							<div class="checkbox-icon" ng-class="{'active' : request_form.dig_proj.$valid}">
								<div class="checked-checkbox-icon" ng-class="{'active': form.digProj}"></div>
							</div>
							<input 
							type="checkbox" 
							id="dig-proj"
		    				name="dig_proj"
		    				ng-model="form.digProj"  
							ng-true-value="'Digital Project'"
							ng-required="!(form.typeProj || form.desProj)"
							> Digital Project
						</label>

			  		</div>
			  	</div>
				
			</div>	<!-- form-section -->

			<div class="form-section instructions">

				<h2 class="title section-title" id="formSection2">
					<span class="title-icon title2-icon"></span>
					Task
				</h2>

				<div class="form-group">

					<div class="col-md-12">
						<label id="taskDescTitle">Task Specific Description</label>
	    				<textarea 
	    				rows="5" 
	    				class="form-control" 
	    				id="task-desc"
	    				name="task_desc"
	    				ng-model="form.taskDesc"  
	    				placeholder="e.g Create a design theme"></textarea>
					</div>
					
				</div>

				<div class="form-group">

					<div class="col-md-12">
						<label id="taskDescTitle" style="margin-right:10px;">Are there any other creative deliverables for this project</label>

						<label class="checkbox-inline">
							<div class="checkbox-icon" ng-class="{'active' : request_form.multiple_pieces.$valid}">
								<div class="checked-checkbox-icon" ng-class="{'active': form.multiplePieces}"></div>
							</div>
							<input 
							type="checkbox" 
							id="multiple-pieces"
							name="multiple_pieces"
		    				ng-model="form.multiplePieces" 
							ng-true-value="'Multiple pieces'" 
							> Yes
						</label>


	    				<!-- <label for="yes-multiple" class="radio-inline">
							<div class="radio-icon" ng-class="{'active' : request_form.multiple_pieces.$valid}">
								<div class="checked-radio-icon" ng-class="{'active': form.multiplePieces == 'Multiple pieces'}"></div>
							</div>
							<input 
							type="radio"
							id="yes-multiple" 
							name="multiple_pieces"
							ng-model="form.multiplePieces" 
							value="Multiple pieces "
							ng-required="!(form.multiplePieces === 'Single piece')"> Yes
						</label>

						<label for="no-multiple" class="radio-inline">
							<div class="radio-icon" ng-class="{'active' : request_form.multiple_pieces.$valid}">
								<div class="checked-radio-icon" ng-class="{'active': form.multiplePieces == 'Single piece'}"></div>
							</div>
							<input 
							type="radio" 
							id="no-multiple" 
							name="multiple_pieces"
							ng-model="form.multiplePieces"
							value="Single piece"
							ng-required="!(form.multiplePieces === 'Multiple pieces')"> No
						</label> -->
					</div>
					
				</div>

				<div class="form-group" ng-show="form.multiplePieces === 'Multiple pieces'">

					<div class="col-md-12">
						<label id="explain-piece">Please Explain</label>
	    				<textarea 
	    				rows="5" 
	    				class="form-control" 
	    				id="explain-piece"
	    				name="explain_piece"
	    				ng-model="form.explainPiece"  
	    				placeholder=""></textarea>
					</div>
					
				</div>

				<hr>

				<h3 class="title sub-title" id="hoursForTaskTitle">Hours For This Task Only (<span>Not entire project</span>)</h3>

				<div class="form-group">
					<label for="studio-hours" class="col-sm-1 control-label">Studio</label>
					<div class="col-sm-1">
						<input 
						type="text" 
						class="form-control" 
						id="studio-hours"
	    				name="studio_hours"
	    				ng-model="form.studioHours" 
						placeholder=""
						ng-class="{'active' : request_form.need_est_hours.$invalid}">
					</div>

					<label for="des-hours" class="col-sm-1 control-label">Des</label>
					<div class="col-sm-1">
						<input 
						type="text" 
						class="form-control" 
						id="des-hours"
	    				name="des_hours"
	    				ng-model="form.desHours"  
						placeholder=""
						ng-class="{'active' : request_form.need_est_hours.$invalid}">
					</div>

					<label for="sdes-hours" class="col-sm-1 control-label">sDes</label>
					<div class="col-sm-1">
						<input 
						type="text" 
						class="form-control" 
						id="sdes-hours"
	    				name="sdes_hours"
	    				ng-model="form.sdesHours" 
						placeholder=""
						ng-class="{'active' : request_form.need_est_hours.$invalid}">
					</div>

					<label for="dig-des" class="col-sm-1 control-label">Digital Des</label>
					<div class="col-sm-1">
						<input 
						type="text" 
						class="form-control" 
						id="dig-des"
	    				name="dig_des"
	    				ng-model="form.digDes" 
						placeholder=""
						ng-class="{'active' : request_form.need_est_hours.$invalid}">
					</div>

				</div>

				<div class="form-group">
					
					<label for="des-dir" class="col-sm-1 control-label">Design Dir</label>
					<div class="col-sm-1">
						<input 
						type="text" 
						class="form-control" 
						id="des-dir"
	    				name="des_dir"
	    				ng-model="form.desDir" 
						placeholder=""
						ng-class="{'active' : request_form.need_est_hours.$invalid}">
					</div>

					<label for="cd-hours" class="col-sm-1 control-label">CD</label>
					<div class="col-sm-1">
						<input 
						type="text" 
						class="form-control" 
						id="cd-hours"
	    				name="cd_hours"
	    				ng-model="form.cdHours" 
						placeholder=""
						ng-class="{'active' : request_form.need_est_hours.$invalid}">
					</div>

					<label for="gd-hours" class="col-sm-1 control-label">GD</label>
					<div class="col-sm-1">
						<input 
						type="text" 
						class="form-control" 
						id="gd-hours"
	    				name="gd_hours"
	    				ng-model="form.gdHours" 
						placeholder=""
						ng-class="{'active' : request_form.need_est_hours.$invalid}">
					</div>

				</div>

				<div class="form-group">
					<div class="col-md-12">
						<label class="checkbox-inline">
							<div class="checkbox-icon" ng-class="{'active' : request_form.need_est_hours.$valid}">
								<div class="checked-checkbox-icon" ng-class="{'active': form.needEstHours}"></div>
							</div>
							<input 
							type="checkbox" 
							id="need-est-hours"
		    				name="need_est_hours"
		    				ng-model="form.needEstHours" 
							ng-true-value="'Need an estimate'"
							ng-required="((form.desHours + form.sdesHours + form.studioHours + form.cdHours + form.gdHours + form.digDes + form.desDir) < 1) || !form.desHours && !form.sdesHours && !form.studioHours && !form.cdHours && !form.gdHours && !form.digDes && !form.desDir"> Need an Estimate
						</label>
					</div>
				</div>


				
			</div>	<!-- form-section -->

			<div class="form-section">

				<h2 class="title section-title" id="formSection4">
					<span class="title-icon title4-icon"></span>
					Delivery
				</h2>

				<h3 class="title sub-title" id="deliveryDateTitle">Delivery Date</h3>

				<div class="form-group">
					<label for="first-draft-by" class="col-sm-2 control-label">First draft by</label>
					<div class="col-sm-4">
						<div class="input-group">
							<input 
							type="text" 
							class="form-control date-selection" 
							id="first-draft-by"
		    				name="first-draft-by"
		    				ng-model="form.firstDraftBy"  
							placeholder="DD/MM/YYYY"
							date-picker
							readonly>
							<span class="input-group-addon glyphicon glyphicon-calendar"></span>
						</div>
					</div>	

					<label for="first-draft-by-time" class="col-sm-2 control-label">Time</label>
					<div class="col-sm-4">
						<select 
						class="form-control"
						id="first-draft-by-time"
	    				name="first-draft-by_time"
	    				ng-model="form.firstDraftByTime"
						>
						  <option>9AM GMT</option>
						  <option>12PM GMT</option>
						  <option>EOB GMT</option>
						  <option>9AM EST</option>
						  <option>12PM EST</option>
						  <option>EOB EST</option>
						</select>
					</div>	
				</div>

				<div class="form-group">
					<label for="final-delivery-date" class="col-sm-2 control-label">Final delivery date</label>
					<div class="col-sm-4">
						<div class="input-group">
							<input 
							type="text" 
							class="form-control date-selection" 
							id="final-delivery-date"
		    				name="final_delivery_date"
		    				ng-model="form.finalDeliveryDate"  
							placeholder="DD/MM/YYYY"
							date-picker
							readonly>
							<span class="input-group-addon glyphicon glyphicon-calendar"></span>
						</div>
					</div>

					<label for="final-delivery-date-time" class="col-sm-2 control-label">Time</label>
					<div class="col-sm-4">
						<select 
						class="form-control"
						id="final-delivery-date-time"
	    				name="final_delivery_date_time"
	    				ng-model="form.finalDeliveryDateTime">
						  <option>9AM GMT</option>
						  <option>12PM GMT</option>
						  <option>EOB GMT</option>
						  <option>9AM EST</option>
						  <option>12PM EST</option>
						  <option>EOB EST</option>
						</select>
					</div>	
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<label class="checkbox-inline">
							<div class="checkbox-icon" ng-class="{'active' : request_form.asap.$valid}">
								<div class="checked-checkbox-icon" ng-class="{'active': form.asap}"></div>
							</div>
							<input 
							type="checkbox" 
							id="asap"
		    				name="asap"
		    				ng-model="form.asap"  
							ng-true-value="'ASAP'"> ASAP (Please speak to Mark or Sandra before selecting)
						</label>
					</div>
				</div>

				
			</div>	<!-- form-section -->


			<div class="form-section">

				<h2 class="title section-title" id="formSection3">
					<span class="title-icon title3-icon"></span>
					Instructions
				</h2>

				<h3 class="title sub-title" id="typeOfBriefTitle">Type of brief</h3>

				<label class="checkbox-inline">
					<div class="checkbox-icon" ng-class="{'active' : request_form.creative_brief.$valid || form.techSpec}">
						<div class="checked-checkbox-icon" ng-class="{'active': form.creativeBrief}"></div>
					</div>
					<input 
					type="checkbox" 
					id="creative-brief"
					name="creative_brief"
    				ng-model="form.creativeBrief" 
					ng-true-value="'Creative Brief'" 
					ng-required="!form.techSpec"> Creative Brief
				</label>

				<label class="checkbox-inline">
					<div class="checkbox-icon" ng-class="{'active' : request_form.tech_spec.$valid || form.creativeBrief}">
						<div class="checked-checkbox-icon" ng-class="{'active': form.techSpec}"></div>
					</div>
					<input 
					type="checkbox" 
					id="tech-spec"
					name="tech_spec"
    				ng-model="form.techSpec" 
					ng-true-value="'Technical Specification'"
					ng-required="!form.creativeBrief"> Technical Specification
				</label>

				<div ng-show="form.creativeBrief === 'Creative Brief'">

				<hr>

				<h3 class="title sub-title" id="typeOfWorkTitle">Type Of Work</h3>

				<div class="form-group">
					<div class="col-md-12">
						<label class="checkbox-inline">
							<div class="checkbox-icon" ng-class="{'active' : request_form.mockup.$valid}">
								<div class="checked-checkbox-icon" ng-class="{'active': form.mockup}"></div>
							</div>
							<input 
							type="checkbox" 
							id="mockup"
		    				name="mockup"
		    				ng-model="form.mockup"
		    				ng-true-value="'Mockup'" 
							> Mockup
						</label>

						<label class="checkbox-inline">
							<div class="checkbox-icon" ng-class="{'active' : request_form.creative_design_con.$valid}">
								<div class="checked-checkbox-icon" ng-class="{'active': form.creativeDesignCon}"></div>
							</div>
							<input 
							type="checkbox" 
							id="creative-design-con"
		    				name="creative_design_con"
		    				ng-model="form.creativeDesignCon" 
		    				ng-true-value="'Creative/Design Concept'"
							> Creative/Design Concept
						</label>

						<label class="checkbox-inline">
							<div class="checkbox-icon" ng-class="{'active' : request_form.video.$valid}">
								<div class="checked-checkbox-icon" ng-class="{'active': form.video}"></div>
							</div>
							<input 
							type="checkbox" 
							id="video"
		    				name="video"
		    				ng-model="form.video" 
							ng-true-value="'Video'"> Video
						</label>

						<label class="checkbox-inline">
							<div class="checkbox-icon" ng-class="{'active' : request_form.digital_app_des.$valid}">
								<div class="checked-checkbox-icon" ng-class="{'active': form.digitalAppDes}"></div>
							</div>
							<input 
							type="checkbox" 
							id="digital-app-des"
		    				name="digital_app_des"
		    				ng-model="form.digitalAppDes" 
							ng-true-value="'Digital Application Design'"> Digital Application Design
						</label>

						<label class="checkbox-inline">
							<div class="checkbox-icon" ng-class="{'active' : request_form.logo.$valid}">
								<div class="checked-checkbox-icon" ng-class="{'active': form.logo}"></div>
							</div>
							<input 
							type="checkbox" 
							id="logo"
		    				name="logo"
		    				ng-model="form.logo"
							ng-true-value="'Logo'"> Logo
						</label>
					</div>
				</div>

				<div class="form-group form-inline">
					<div class="col-md-12">
						<label class="checkbox-inline">
							<div class="checkbox-icon" ng-class="{'active' : request_form.figure_redaws.$valid}">
								<div class="checked-checkbox-icon" ng-class="{'active': form.figureRedraws}"></div>
							</div>
							<input 
							type="checkbox" 
							id="figure-redaws"
		    				name="figure_redaws"
		    				ng-model="form.figureRedraws" 
							ng-true-value="'Figure Redraws'"> Figure Redraws
						</label>

						<label class="checkbox-inline">
							<div class="checkbox-icon" ng-class="{'active' : request_form.layout.$valid}">
								<div class="checked-checkbox-icon" ng-class="{'active': form.layout}"></div>
							</div>
							<input 
							type="checkbox" 
							id="layout"
		    				name="layout"
		    				ng-model="form.layout" 
							ng-true-value="'Layout'"> Layout
						</label>

						<input 
						type="text" 
						placeholder="Other"
						class="form-control otherType" 
						name="presented_other"
						id="presented-other"
						ng-model="form.presentedOther">
					</div>
				</div>

				<hr>

				<h3 class="title sub-title" id="whereUsedTitle">Where will it be used</h3>

				<div class="form-group">
					<div class="col-md-12">
						<label class="checkbox-inline">
							<div class="checkbox-icon" ng-class="{'active' : request_form.where_used_ppt.$valid}">
								<div class="checked-checkbox-icon" ng-class="{'active': form.whereUsedPpt}"></div>
							</div>
							<input 
							type="checkbox" 
							id="where-used-ppt"
		    				name="where_used_ppt"
		    				ng-model="form.whereUsedPpt"
		    				ng-true-value="'PPT'" 
							> PPT
						</label>

						<label class="checkbox-inline">
							<div class="checkbox-icon" ng-class="{'active' : request_form.where_used_word.$valid}">
								<div class="checked-checkbox-icon" ng-class="{'active': form.whereUsedWord}"></div>
							</div>
							<input 
							type="checkbox" 
							id="where-used-word"
		    				name="where_used_word"
		    				ng-model="form.whereUsedWord" 
		    				ng-true-value="'Word'"
							> Word
						</label>

						<label class="checkbox-inline">
							<div class="checkbox-icon" ng-class="{'active' : request_form.where_used_dig_app.$valid}">
								<div class="checked-checkbox-icon" ng-class="{'active': form.whereUsedDigApp}"></div>
							</div>
							<input 
							type="checkbox" 
							id="where-used-dig-app"
		    				name="where_used_dig_app"
		    				ng-model="form.whereUsedDigApp" 
							ng-true-value="'Digital Application'"
							> Digital Application
						</label>

						<label class="checkbox-inline">
							<div class="checkbox-icon" ng-class="{'active' : request_form.where_used_print.$valid}">
								<div class="checked-checkbox-icon" ng-class="{'active': form.whereUsedPrint}"></div>
							</div>
							<input 
							type="checkbox" 
							id="where-used-print"
		    				name="where_used_print"
		    				ng-model="form.whereUsedPrint"
							ng-true-value="'Print'"
							> Print
						</label>
					</div>
				</div>


				<hr>

				<h3 class="title sub-title" id="brandingTitle">Branding</h3>

				<div class="form-group">
					<div class="col-md-12 form-inline">
						<label class="checkbox-inline">
							<div class="checkbox-icon" ng-class="{'active' : request_form.branded.$valid}">
								<div class="checked-checkbox-icon" ng-class="{'active': form.branded}"></div>
							</div>
							<input 
							type="checkbox" 
							id="branded"
		    				name="branded"
		    				ng-model="form.branded"
							ng-true-value="'Branded'"> Branded
						</label>

						<label class="checkbox-inline">
							<div class="checkbox-icon" ng-class="{'active' : request_form.unbranded.$valid}">
								<div class="checked-checkbox-icon" ng-class="{'active': form.unbranded}"></div>
							</div>
							<input 
							type="checkbox" 
							id="unbranded"
		    				name="unbranded"
		    				ng-model="form.unbranded"
							ng-true-value="'Unbranded'"> Unbranded
						</label>

						<!-- <label class="checkbox-inline">
							<div class="checkbox-icon" ng-class="{'active' : request_form.soft_branded.$valid}">
								<div class="checked-checkbox-icon" ng-class="{'active': form.softBranded}"></div>
							</div>
							<input 
							type="checkbox" 
							id="soft-branded"
		    				name="soft_branded"
		    				ng-model="form.softBranded" 
							ng-true-value="'Soft Branded'"> Soft Branded
						</label>
 -->
						<!-- <label class="checkbox-inline">
							<div class="checkbox-icon" ng-class="{'active' : request_form.branded_other.$valid}">
								<div class="checked-checkbox-icon" ng-class="{'active': form.brandedOther}"></div>
							</div>
							<input 
							type="checkbox" 
							id="branded-other"
		    				name="branded_other"
		    				ng-model="form.brandedOther" 
							ng-true-value="'Other'"> Other
						</label> -->

						<input 
						type="text" 
						placeholder="Other"
						class="form-control otherType" 
						name="branded_other"
						id="branded-other"
						ng-model="form.brandedOther">

					</div>
				</div>

				<div class="form-group">

					
					<div class="col-md-12">
						<label for="logos-included" class=" control-label">Logos to be included</label>
						<input 
						type="text" 
						class="form-control" 
						id="logos-included"
	    				name="logos_included"
	    				ng-model="form.logosIncluded" 
						placeholder="Enter the names of the logos">
					</div>
				
				</div>

				<div class="form-group">

					<div class="col-md-12">
						<label for="look-and-feel">Visual style, look and feel, branding specifications</label>
	    				<textarea 
	    				rows="5" 
	    				class="form-control" 
	    				id="look-and-feel"
	    				name="look_and_feel"
	    				ng-model="form.lookAndFeel" 
	    				placeholder="Enter here the description"></textarea>
					</div>
					
				</div>

				<div class="form-group">

					<div class="col-md-12">
						<label for="scientific-background">Scientific background</label>
	    				<textarea 
	    				rows="5" 
	    				class="form-control" 
	    				id="scientific-background"
	    				name="scientific_background"
	    				ng-model="form.scientificBackground" 
	    				placeholder="Enter here the description"></textarea>
					</div>
					
				</div>
				
				</div>

				<div ng-show="form.techSpec === 'Technical Specification'">
				
				<hr>
				
				<h3 class="title sub-title" id="deliveryFormatTitle">Delivery Format</h3>

				<div class="form-group">
					
					<div class="col-md-3">
						<label for="extension">Type of File</label>
						<select 
						class="form-control" 
						ng-change="extAdd('extensions','selectedExtension')"
						id="extension"
	    				name="extension"
	    				ng-model="selectedExtension">
						  <option>Image for PPT (.jpg, .png)</option>
						  <option>Vector File (.eps, .ai)</option>
						  <option>PDF</option>
						  <option>Hi-res image for print</option>
						</select>
						<ul class="delivery-list">
							<li ng-repeat="ext in form.extensions track by $index">
								{{ext}}
								<button type="button" class="close" aria-label="Close" ng-click="extRemove('extensions',$index)"><span aria-hidden="true">&times;</span></button>
							</li>
						</ul>
					</div>

					<div class="col-md-3">
						<label for="dimension">Dimensions</label>
						<select 
						class="form-control" 
						id="dimension"
	    				name="dimension"
	    				ng-change="dimensionCheck()"
	    				ng-model="selectedDimension">
						  <option>A5 (UK)</option>
						  <option>A5 (UK)</option>
						  <option>A4 (UK)</option>
						  <option>A3 (UK)</option>
						  <option>A2 (UK)</option>
						  <option>A1 (UK)</option>
						  <option>US Letter</option>
						  <option>US Tabloid</option>
						  <option>Mobile</option>
						  <option>Tablet</option>
						  <!-- <option>Desktop</option> -->
						  <option>Other</option>
						</select>
						<!-- <ul class="delivery-list">
							<li ng-repeat="dimension in form.dimensions track by $index">
								{{dimension}}
								<button type="button" class="close" aria-label="Close" ng-click="extRemove('dimensions',$index)"><span aria-hidden="true">&times;</span></button>
							</li>
						</ul> -->
						<input 
						type="text"
						class="form-control other-dimension"
						ng-model="form.otherDimension"
						ng-show="selectedDimension === 'Other'"
						>
					</div>

					<div class="col-md-3">
						<label for="orientation">Orientation</label>
						<select 
						class="form-control" 
						ng-change="extAdd('orientations','selectedOrientation')"
						id="orientation"
	    				name="orientation"
	    				ng-model="selectedOrientation">
						  <option>Landscape</option>
						  <option>Portrait</option>
						  <option>Not Specified</option>
						</select>
						<ul class="delivery-list">
							<li ng-repeat="orientation in form.orientations track by $index">
								{{orientation}}
								<button type="button" class="close" aria-label="Close" ng-click="extRemove('orientations',$index)"><span aria-hidden="true">&times;</span></button>
							</li>
						</ul>
					</div>

					<div class="col-md-3">
						<label for="pages">Pages</label>
						<input 
						type="text" 
						class="form-control" 
						id="pages"
	    				name="pages"
	    				ng-model="form.pages" 
						>
					</div>
					
					
				</div>

				</div>

			</div>	<!-- form-section -->

			

			<div class="form-section">

				<h2 class="title section-title" id="formSection5">
					<span class="title-icon title5-icon"></span>
					Attachments
				</h2>

				<h3 class="title sub-title" id="referenceMaterialsTitle">Reference Materials</h3>

				<div class="form-group">
					<div class="col-md-12">
						<label for="server-loc">Server Location</label>
	    				<input 
	    				type="text" 
	    				class="form-control"
	    				id="server-loc"
	    				name="server_loc"
	    				ng-model="form.serverLoc"  
	    				placeholder="e.g \\CHAFS1\CDSTransfer\Bayer">
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12 file-upload-section">
						<label>Reference Materials / Annotated Files</label>
						
						<div>
							<label for="file-uploads" class="btn btn-default"> Choose Files
								<input type="file" id="file-uploads" name="file_uploads" ng-model="form.fileUploads" multiple nv-file-select uploader="uploader"/>
							</label>
						</div><br>
						
						<div class="drop-zone" uploader="uploader" nv-file-over ng-class="{'bg-danger' : totalFileSize()>25}">
							<h3>Drop files here <i class="glyphicon glyphicon-upload"></i></h3>

							<p class="pull-left">Total size: {{totalFileSize() | number:2}}mb </p>
							<p ng-show="totalFileSize()>25" class="text-danger pull-right">File size must not exceed 25mb</p>

							  <!-- <ul>
					            <li ng-repeat="item in uploader.queue">
					                Name: {{item.file.name}} 
					                <button ng-click="item.remove()">Delete</button>
					            </li>
					        </ul> -->

					        <table class="table">
							  <tr ng-repeat="item in uploader.queue">
							  	<td><i class="glyphicon glyphicon-file"></i></td>
							  	<td>Name: {{item.file.name}} </td>
							  	<td><button ng-click="removeItem($index,item)" class="btn btn-danger">Delete</button></td>
							  </tr>
							</table>
						</div>
						
					</div>
				</div>
				
			</div> <!-- form-section -->

			<input type="submit" class="btn btn-block submit-btn" value="SUBMIT">

		</div>

		<div class="col-md-3 hidden-xs hidden-sm">
				<nav class="sidebar" data-spy="affix" data-offset-top="210">
					<ul class="nav">
						<li>
							<a href="#formSection1" class="title">Job Information</a>
							<ul class="nav">
								<li>
									<a href="#formJobCode">Job Code</a>
								</li>
								<li>
									<a href="#formProjectInfo">Project Info</a>
								</li>
								<li>
									<a href="#formBudgetStatus">Project Status</a>
								</li>
								<li>
									<a href="#formTypeOfProject">Type of Project</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#formSection2" class="title">Task</a>
							<ul class="nav">
								<li>
									<a href="#taskDescTitle">Task Description</a>
								</li>
								<li>
									<a href="#hoursForTaskTitle">Hours for this Task</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#formSection4" class="title">Delivery</a>
							<ul class="nav">
								<li>
									<a href="#deliveryDateTitle">Delivery Date</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#formSection3" class="title">Instructions</a>
							<ul class="nav">
								<li>
									<a href="#typeOfBriefTitle">Type of brief</a>
								</li>
								<li>
									<a href="#typeOfWorkTitle">Type of Work</a>
								</li>
								<li>
									<a href="#whereUsedTitle">Where will it be used?</a>
								</li>
								<li>
									<a href="#brandingTitle">Branding</a>
								</li>
								<li>
									<a href="#deliveryFormatTitle">Delivery Format</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#formSection5" class="title">Attachments</a>
							<ul class="nav">
								<li>
									<a href="#referenceMaterialsTitle">Reference Materials</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
	</div>

</form>

