<div class="form-section">

	<h2 class="title section-title" id="formSection1">
		<span class="title-icon title1-icon"></span>
		Project Information
	</h2>

	<div class="form-group">
		<div class="col-sm-12">
			<label for="job-code" class="control-label" id="formJobCode">Job Code</label>
		</div>
		
		<div class="col-sm-4">
			<input type="text" 
			class="form-control" 
			id="job-code"
			name="job_code"
			ng-model="form.jobCode" 
			placeholder=""
			required 
			ng-class="{'invalid' : request_form.job_code.$invalid}"
			> 
		</div>		
	</div>

	<div class="form-group ">
		
			
				<div class="col-sm-12 bottom10">
				<label for="new-job" class="radio-inline" tooltip data-toggle="tooltip" data-placement="top" title="Select this option if you have a new project request for a specific job. Please submit separate forms for each project request, even if the job number is the same one. Should you have multiple projects for the same job number please submit multiple new project request forms.">
					<div class="radio-icon" ng-class="{'active' : request_form.job_type.$valid}">
						<div class="checked-radio-icon" ng-class="{'active': form.jobType == 'New Job'}"></div>
					</div>
					<input 
					type="radio"
					id="new-job" 
					name="job_type"
					ng-model="form.jobType" 
					value="New Job"
					ng-required="form.jobType !== 'Existing Job' || form.jobType !== 'Editorial Amends'"> New Project Request
				</label>
			
			
				<label for="existing-job" class="radio-inline" tooltip data-toggle="tooltip" data-placement="top" title="Select this option if you are providing a change of brief, or a change of brief with editorial changes for a previously submitted project. If you only have editorial changes please select the ‘Editorial Amendment Request’ instead.">
					<div class="radio-icon" ng-class="{'active' : request_form.job_type.$valid}">
						<div class="checked-radio-icon" ng-class="{'active': form.jobType == 'Existing Job'}"></div>
					</div>
					<input 
					type="radio" 
					id="existing-job" 
					name="job_type"
					ng-model="form.jobType"
					value="Existing Job"
					ng-required="form.jobType !== 'New Job' || form.jobType !=='Editorial Amends'"> Existing Project Alteration Request
				</label>
			
			
				<label for="editorial-amends" class="radio-inline" tooltip data-toggle="tooltip" data-placement="top" title="Select this option if you are only submitting editorial amendments for a previously submitted project.">
					<div class="radio-icon" ng-class="{'active' : request_form.job_type.$valid}">
						<div class="checked-radio-icon" ng-class="{'active': form.jobType == 'Editorial Amends'}"></div>
					</div>
					<input 
					type="radio" 
					id="editorial-amends" 
					name="job_type"
					ng-model="form.jobType"
					value="Editorial Amends"
					ng-required="form.jobType !== 'New Job' || form.jobType !=='Existing Job'"> Editorial Amendment Submission
				</label>
				</div>
			
		
	</div>

	<!-- <div class="form-group">
		<div class="col-sm-6 col-sm-offset-6 no-gutter">
			
			
		</div>	
	</div>
-->
	<div class="form-group">

		<div class="col-md-6">
			<label for="form-user">Person submitting this request (if not Account Lead)</label>
			<input 
			type="text" 
			class="form-control" 
			id="form-user"
			name="form_user"
			ng-model="form.formUser" 
			placeholder="Full Name"
			ng-required="form.jobType !== 'Editorial Amends'"
			>
		</div>

		<div class="col-md-3">
			<label for="office">Office</label>
			<select 
			class="form-control" 
			id="office"
			name="office"
			ng-model="form.office" 
			ng-class="{'invalid' : request_form.office.$invalid}"
			ng-required="form.jobType !== 'Editorial Amends'"
			>
				<option value="London">London</option>
				<option value="Manchester">Manchester</option>
				<option value="NYC">New York</option>
				<option value="LA">Los Angeles</option>
				<option value="Global">Global</option>
			</select>
		</div>

		<div class="col-md-3">
			<label for="email">Email (to receive copy)</label>
			<input 
			type="email" 
			class="form-control" 
			id="email"
			name="email"
			ng-model="form.email" 
			placeholder="Email Address"
			ng-required="form.jobType !== 'Editorial Amends'"
			>
		</div>

	</div>

	<div ng-hide="form.jobType === 'Editorial Amends'">

	<div class="form-group" ng-show="form.jobType === 'New Job'">
	<hr>
	

	<h3 class="title sub-title" id="formProjectInfo">Project Info</h3>

		
		<div class="col-md-6">
			<label for="client">Client</label>
			<input 
			type="text" 
			class="form-control" 
			id="client"
			name="client"
			ng-model="form.client"
			placeholder="e.g Bayer"
			ng-required="form.jobType === 'New Job'">
		</div>

		<div class="col-md-6">
			<label for="product">Product</label>
			<input 
			type="text" 
			class="form-control" 
			id="product"
			name="product"
			ng-model="form.product" 
			placeholder="e.g Xarelto"
			ng-required="form.jobType === 'New Job'">
		</div>

	</div>

	<div class="form-group" ng-show="form.jobType === 'New Job'">

		<div class="col-md-12">
			<label for="project-title">Project Title</label>
			<input 
			type="text" 
			class="form-control" 
			id="project-title"
			name="project_title"
			ng-model="form.projectTitle" 
			placeholder="e.g Xarelto Brand Plan Presentation"
			ng-required="form.jobType === 'New Job'">
		</div>
		
	</div>

	<div class="form-group" ng-show="form.jobType === 'New Job'">

		<div class="col-md-12">
			<label for="account-person-fname">Account Lead</label>
		</div>
		
		<div class="col-md-12">
			<input 
			type="text" 
			class="form-control" 
			id="account-person-fname"
			name="account_person_fname"
			ng-model="form.accountPersonFname" 
			placeholder="Full Name"
			ng-required="form.jobType === 'New Job'"
			ng-class="{'invalid' : request_form.account_person_fname.$invalid}"
			>
		</div>

	</div>


	

	<div ng-show="form.jobType === 'New Job'">
	<!-- <div class="form-group">

		<div class="col-md-12">
			<label for="general-desc">General Project Description</label>
			<textarea 
			rows="5" 
			class="form-control" 
			id="general-desc"
			name="general_desc"
			ng-model="form.generalDesc"  
			placeholder="e.g Xarelto Brand Plan Presentation"></textarea>
		</div>
		
	</div> -->

	<hr>

	<h3 class="title sub-title" id="formBudgetStatus">Project Status</h3>

  	<div class="form-group">
  		<div class="col-md-12">

  			<label class="radio-inline">
  				<div class="radio-icon" ng-class="{'active' : request_form.budget.$valid}">
					<div class="checked-radio-icon" ng-class="{'active': form.budget == 'Budget in Paprika'}"></div>
				</div>
				<input 
				type="radio" 
				id="bud-pap"
				name="budget"
				ng-model="form.budget" 
				value="Budget in Paprika"> Budget in Paprika
			</label>

	  		<label class="radio-inline">
	  			<div class="radio-icon" ng-class="{'active' : request_form.budget.$valid}">
					<div class="checked-radio-icon" ng-class="{'active': form.budget == 'New Business or Internal'}"></div>
				</div>
				<input 
				type="radio" 
				id="new-bus-int"
				name="budget"
				ng-model="form.budget" 
				value="New Business or Internal"> New Business or Internal
			</label>

			<label class="radio-inline">
				<div class="radio-icon" ng-class="{'active' : request_form.budget.$valid}">
					<div class="checked-radio-icon" ng-class="{'active': form.budget == 'Need an estimate'}"></div>
				</div>
				<input 
				type="radio" 
				id="need-est"
				name="budget"
				ng-model="form.budget" 
				value="Need an estimate"> Need an Estimate
			</label>

  		</div>
  	</div>
  	
  	</div>


  	</div> <!-- ng-hide if editorial amends -->
	
</div>	<!-- form-section -->