<div class="form-section instructions" ng-hide="form.jobType === 'Editorial Amends'">

				<h2 class="title section-title" id="formSection2">
					<span class="title-icon title2-icon"></span>
					Task
				</h2>

				<p>
					Please brief each deliverable sepately.
				</p>

				<h3 class="sub-title" id="formTypeOfProject" >
			  	 <span class="title" tooltip data-toggle="tooltip" data-placement="top" title="Select the category your project falls under.">Type Of Task</span>
			  	</h3>



			  	<div class="form-group">
			  		
			  			<div class="col-sm-4">
				  			<label class="checkbox-inline" tooltip data-toggle="tooltip" data-placement="top" data-html="true" title="
				  			Conceptual design of 
				  			<ul>
				  				<li style='text-align:left'>branding, infographics and icons</li>
				  				<li style='text-align:left'>presentation design</li>
				  				<li style='text-align:left'>medical illustrations</li>
				  			</ul>
				  			">
				  				<div class="checkbox-icon" ng-class="{'active' : request_form.des_proj.$valid}">
									<div class="checked-checkbox-icon" ng-class="{'active': form.desProj}"></div>
								</div>
								<input 
								type="checkbox" 
								id="des-proj"
			    				name="des_proj"
			    				ng-model="form.desProj" 
								ng-true-value="'Design Task'"
								ng-required="!(form.typeProj || form.digProj) && form.jobType !== 'Editorial Amends'"
								> Design Task
							</label>
						</div>

						<div class="col-sm-4">
					  		<label class="checkbox-inline" tooltip data-toggle="tooltip" data-placement="top" title="Page composition of copy, pictures and figures based on the already approved design theme and/or client branding. Includes figure redrawing. Mostly for outputs as PDFs or print materials.">
					  			<div class="checkbox-icon" ng-class="{'active' : request_form.type_proj.$valid}">
									<div class="checked-checkbox-icon" ng-class="{'active': form.typeProj}"></div>
								</div>
								<input 
								type="checkbox" 
								id="type-proj"
			    				name="type_proj"
			    				ng-model="form.typeProj"  
								ng-true-value="'Typesetting Task'"
								ng-required="!(form.desProj || form.digProj) && form.jobType !== 'Editorial Amends'"
								> Typesetting Task
							</label>
						</div>

						<div class="col-sm-4">
							<label class="checkbox-inline" tooltip data-toggle="tooltip" data-placement="top" title="User interface, user experience and screen design based on already approved design themes for digital applications (e.g websites, apps, HTML emails). Includes video production and editing.">
								<div class="checkbox-icon" ng-class="{'active' : request_form.dig_proj.$valid}">
									<div class="checked-checkbox-icon" ng-class="{'active': form.digProj}"></div>
								</div>
								<input 
								type="checkbox" 
								id="dig-proj"
			    				name="dig_proj"
			    				ng-model="form.digProj"  
								ng-true-value="'Digital Task'"
								ng-required="!(form.typeProj || form.desProj) && form.jobType !== 'Editorial Amends'"
								> Digital Task
							</label>
						</div>

			  		
			  	</div>

			  	<hr>

				<div class="form-group">

					<div class="col-md-12">
						<label id="taskDescTitle">Task Specific Description</label>
	    				<textarea 
	    				rows="5" 
	    				class="form-control" 
	    				id="task-desc"
	    				name="task_desc"
	    				ng-model="form.taskDesc"  
	    				placeholder="e.g Create a design theme"
	    				ng-required="form.jobType !== 'Editorial Amends'"></textarea>
					</div>
					
				</div>

				<div class="form-group">

					<div class="col-md-12">
						<label id="taskDescTitle" style="margin-right:10px;" tooltip data-toggle="tooltip" data-placement="top" title="Will this project overall include other materials (e.g invitation, banners, posters,templates,xxx)">Are there any other creative deliverables for this project</label>

						<label class="checkbox-inline">
							<div class="checkbox-icon" ng-class="{'active' : request_form.multiple_pieces.$valid}">
								<div class="checked-checkbox-icon" ng-class="{'active': form.multiplePieces}"></div>
							</div>
							<input 
							type="checkbox" 
							id="multiple-pieces"
							name="multiple_pieces"
		    				ng-model="form.multiplePieces" 
							ng-true-value="'Multiple pieces'" 
							> Yes
						</label>


	    				<!-- <label for="yes-multiple" class="radio-inline">
							<div class="radio-icon" ng-class="{'active' : request_form.multiple_pieces.$valid}">
								<div class="checked-radio-icon" ng-class="{'active': form.multiplePieces == 'Multiple pieces'}"></div>
							</div>
							<input 
							type="radio"
							id="yes-multiple" 
							name="multiple_pieces"
							ng-model="form.multiplePieces" 
							value="Multiple pieces "
							ng-required="!(form.multiplePieces === 'Single piece')"> Yes
						</label>

						<label for="no-multiple" class="radio-inline">
							<div class="radio-icon" ng-class="{'active' : request_form.multiple_pieces.$valid}">
								<div class="checked-radio-icon" ng-class="{'active': form.multiplePieces == 'Single piece'}"></div>
							</div>
							<input 
							type="radio" 
							id="no-multiple" 
							name="multiple_pieces"
							ng-model="form.multiplePieces"
							value="Single piece"
							ng-required="!(form.multiplePieces === 'Multiple pieces')"> No
						</label> -->
					</div>
					
				</div>

				<div class="form-group" ng-show="form.multiplePieces === 'Multiple pieces'">

					<div class="col-md-12">
						<label id="explain-piece">Please Explain</label>
	    				<textarea 
	    				rows="5" 
	    				class="form-control" 
	    				id="explain-piece"
	    				name="explain_piece"
	    				ng-model="form.explainPiece"  
	    				placeholder=""></textarea>
					</div>
					
				</div>

				<hr>

				<h3 class="title sub-title" id="hoursForTaskTitle">Breakdown of hours allocated to CDS</h3>
				
				<div class="form-group">
					<div class="col-sm-12 bottom10">
					<label for="entire-project-hours" class="radio-inline">
						<div class="radio-icon" ng-class="{'active' : request_form.hours_selection.$valid}">
							<div class="checked-radio-icon" ng-class="{'active': form.hoursSelection == 'Hours for entire project'}"></div>
						</div>
						<input type="radio" id="entire-project-hours" name="hours_selection" ng-model="form.hoursSelection" value="Hours for entire project" ng-required="form.hoursSelection !== 'Hours for task' && form.jobType !== 'Editorial Amends'"> Hours for Entire Project
					</label>
				
				
					<label for="specific-task-hours" class="radio-inline">
						<div class="radio-icon" ng-class="{'active' : request_form.hours_selection.$valid}">
							<div class="checked-radio-icon" ng-class="{'active': form.hoursSelection == 'Hours for task'}"></div>
						</div>
						<input type="radio" id="specific-task-hours" name="hours_selection" ng-model="form.hoursSelection" value="Hours for task" ng-required="form.hoursSelection !== 'Hours for entire project' && form.jobType !== 'Editorial Amends'"> Hours for this Specific Task
					</label>
				
					</div>
				</div>
				

				<div class="form-group">
					<label for="studio-hours" class="col-sm-1 control-label">Studio</label>
					<div class="col-sm-1">
						<input 
						type="text" 
						class="form-control" 
						id="studio-hours"
	    				name="studio_hours"
	    				ng-model="form.studioHours" 
						placeholder=""
						ng-class="{'active' : request_form.need_est_hours.$invalid}">
					</div>

					<label for="des-hours" class="col-sm-1 control-label">Des</label>
					<div class="col-sm-1">
						<input 
						type="text" 
						class="form-control" 
						id="des-hours"
	    				name="des_hours"
	    				ng-model="form.desHours"  
						placeholder=""
						ng-class="{'active' : request_form.need_est_hours.$invalid}">
					</div>

					<label for="sdes-hours" class="col-sm-1 control-label">sDes</label>
					<div class="col-sm-1">
						<input 
						type="text" 
						class="form-control" 
						id="sdes-hours"
	    				name="sdes_hours"
	    				ng-model="form.sdesHours" 
						placeholder=""
						ng-class="{'active' : request_form.need_est_hours.$invalid}">
					</div>

					<label for="dig-des" class="col-sm-1 control-label">Digital Des</label>
					<div class="col-sm-1">
						<input 
						type="text" 
						class="form-control" 
						id="dig-des"
	    				name="dig_des"
	    				ng-model="form.digDes" 
						placeholder=""
						ng-class="{'active' : request_form.need_est_hours.$invalid}">
					</div>

				</div>

				<div class="form-group">
					
					<label for="des-dir" class="col-sm-1 control-label">Design Dir</label>
					<div class="col-sm-1">
						<input 
						type="text" 
						class="form-control" 
						id="des-dir"
	    				name="des_dir"
	    				ng-model="form.desDir" 
						placeholder=""
						ng-class="{'active' : request_form.need_est_hours.$invalid}">
					</div>

					<label for="cd-hours" class="col-sm-1 control-label">CD</label>
					<div class="col-sm-1">
						<input 
						type="text" 
						class="form-control" 
						id="cd-hours"
	    				name="cd_hours"
	    				ng-model="form.cdHours" 
						placeholder=""
						ng-class="{'active' : request_form.need_est_hours.$invalid}">
					</div>

					<label for="gd-hours" class="col-sm-1 control-label">GD</label>
					<div class="col-sm-1">
						<input 
						type="text" 
						class="form-control" 
						id="gd-hours"
	    				name="gd_hours"
	    				ng-model="form.gdHours" 
						placeholder=""
						ng-class="{'active' : request_form.need_est_hours.$invalid}">
					</div>

				</div>

				<div class="form-group">
					<div class="col-md-12">
						<label class="checkbox-inline">
							<div class="checkbox-icon" ng-class="{'active' : request_form.need_est_hours.$valid}">
								<div class="checked-checkbox-icon" ng-class="{'active': form.needEstHours}"></div>
							</div>
							<input 
							type="checkbox" 
							id="need-est-hours"
		    				name="need_est_hours"
		    				ng-model="form.needEstHours" 
							ng-true-value="'Need an estimate'"
							ng-required="((form.desHours + form.sdesHours + form.studioHours + form.cdHours + form.gdHours + form.digDes + form.desDir) < 0.5) || !form.desHours && !form.sdesHours && !form.studioHours && !form.cdHours && !form.gdHours && !form.digDes && !form.desDir && form.jobType !== 'Editorial Amends'"> Need an Estimate
						</label>
					</div>
				</div>

			</div>	<!-- form-section -->